<div class="container">

<div class="row">
    <div class="col col-md-12">
       <bs-navbar></bs-navbar>
    </div>
</div>

<div class="row">

  <div class="col col-md-12">

    <div class="col-md-4"></div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>

  </div>


</div>
</div>

<!-- <main role="main" class="container">

  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
    <p class="lead">Use this document as a way to quickly start any new project.
      <br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

</main> -->